body {
    margin : 0;
    padding : 0;
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

li{
    list-style: none;
}

header{
    width : 100%;
}

.headerWrap{
    margin : 0 auto;
    max-width: 1180px;
    height : 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.headerLeft, .headerRight{
    height : 100%;
    display: flex;
    align-items: center;
}

.headerLogo {
    height : 62px;
    width : fit-content;
    cursor: pointer;
}

.headerLogo img {
    height: 62px;
}

.headerRight{
    width : 235px;
    height : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerRight button{
    outline: none;
    background-color: transparent;
    border : none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.headerNoti{
    position: relative;
}

.headerNoti img{
    height : 25px;
    padding-top: 3px;
    cursor: pointer;
}

.notiHidden{
    display : none;
    position: absolute;
    width : 350px;
    height : 480px;
    background-color: white;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    top: 45px;
    left: -325px;
    overflow-y: scroll;
}

.notiBoxTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d7e2eb;
}

.notiText{
    display: inline-block;
    margin: 0;
    margin-left: 20px;
}

.notiHidden p{
    display: inline-block;
}

.notiXbtn{
    display: inline-block;
    margin-right: 20px;
}

.notiXbtn:hover{
    background-color: rgb(0 0 0 / 10%);
}

.notiZero{
    text-align: center;
    color: #4a5275;
}

.headerIcon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.headerIcon img{
    height : 40px;
}

.headerIcon svg{
    line-height: 24px;
}   

.iconHidden{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 100;
    width : 180px;
    top: 48px;
    left: -5px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    font-weight: 400;
}

.hidden{
    display: none;
}

.iconHidden div{
    display: flex;
    align-items: center;
    width : 100%;
    height : 50px;
    background-color: inherit;
}

.iconHidden div:hover{
    background-color: rgb(0 0 0 / 10%);
}


.iconHidden p{
    margin-left: 20px;
}

section{
    width : 100%;
}

.banner{
    width : 100%;
    height: 330px;
    background-color: #ffe579;
}

.bannerContent{
    max-width: 1200px;
    height: 100%;
    padding : 0 20px;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
}

.bannerLeft, .bannerRight{
    width : 50%;
    height : 100%;
}

.bannerLeft{
    height : 100%;
}

.bannerLeftWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height : 100%;
}

.bannerBtn{
    outline: none;
    border : none;
    font-weight: 700;
    padding: 5px 30px;
    color: #fff;
    background: #a259ff;
    border-radius: 50px;
    margin-bottom:30px;
}

.bannerLeftWrap h2{
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.bannerLeft span{
    font-size: 32px;
}

.bannerTextBottom span{
    font-size: 22px;
}

.bannerRight {
    display: flex;
    justify-content: center;
}

.bannerRight img{
    height : 244px;
    margin : 38px 0;
}

.cateFilterWrap{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 104px auto;
}

.cateFilterWrap ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.cateTopWrap{
    border-bottom: 3px solid #f2f2f2;
}

.cateLi{
    cursor: pointer;
    display: inline-block;
    color: #848484;
    font-weight: 700;
    font-size: 26px;
    margin: -2px 0;
    margin-right: 40px;
}

/* default cateFilter */
.cateLiSelect{
    border-bottom: 5px solid #ffe579;
    color: #333;
}

.cateTopWrap p{
    margin: 0 15px;
    margin-bottom: 15px;
}

.mainContentWrap{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 10px;
}

.contentType{
    width : 100%;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding : 0 20px;
}

.typeWrap{
    display: flex;
    width: fit-content;   
    font-size: 24px;
    font-weight: 600;
}

.typeWrap div{
    margin: 0 10px;
}

.typeLi{
    color: #868e96;
    cursor: pointer;
}

.typeSelect{
    color: #444;
    cursor: pointer;
}

.cateBottomWrap{
    margin-top: 20px;
}

.cateBottomWrap ul{
    display: flex;
    flex-wrap: wrap;
}

.cateChildLi{
    border: 1px solid #d0d0d0;
    border-radius: 100px;
    cursor : pointer;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 450;
}

.cateChildLi p{
    margin: 20px 25px;
}

.onFilter{
    width : fit-content;
    display: flex;
    align-items: center;
}

.onFilter span{
    color: #444;
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px;
}

.toggleSwitch{
    position : relative;
    background-color: #c1cbd8;
    /* background-color: #ffcd00; */
    display: inline-block;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
}

#switchInput{
    border: 0;
}

.toggleBall{
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: white;
}

.contentChildren{
    margin-top: 20px;
}

.contentList3Wrap{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.contentListChild{
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : 0px 15px 30px 15px;
    padding: 45px 26px 26px 34px;
    width: 370px;
    height: 450px;
    background: #fff;
    border: 2px solid #d1d1d1;
    border-radius: 30px;
    cursor: pointer;
}

.contentDate{
    display: flex;
    font-size: 18px;
    color: rgba(0,0,0,.4);
}

.dateText::after{
    height : 18px;
    border : 1px solid rgba(0,0,0,.2);
    content : "";
    margin : 0 10px;
}

.contentListChild h2{
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 400;
    height: 76px;
}

.hashList{
    display: flex;
    padding: 0;
    margin-bottom: 36px;
}

.hashList li{
    list-style: none;
    margin-right: 5px;
    font-size: 18px;
    color: rgba(0,0,0,.4);
}

.iconList{
    padding : 0;
    margin-bottom: 36px;
}

.iconList li{
    list-style: none;
}

.iconList li img{
    width : 48px;
    height : 48px;
}

.contentBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-top: 2px solid #f2f2f2;
}

.contentLeader{
    display: flex;
    align-items: center;
}

.contentLeader img{
    width : 40px;
    height : 40px;
}

.contentLeader p{
    font-size: 18px;
    font-weight: 400;
    margin-left: 7px;
}

.contentReaction{
    display: flex;
    align-items: center;
}

.contentReaction div{
    display : flex;
    align-items: center;
    margin-right: 10px;
}

.contentReaction div p{
    color: #999;
}