body {
    margin : 0 ;
    padding : 0;
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    min-width: 500px;
}

select{
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

input{
    border: none;
    outline: none;
}

/* 버튼 기본디자인 삭제 */
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

ul{
    list-style: none;
    padding: 0;
}

li{
    list-style: none;
}

section{
    width : 100%;
    margin-bottom: 200px;
}

.sectionWrap{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding : 50px 0;
}

.sectionInfo{
    width : 100%;
}

.infoTitle{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #f2f2f2;
}

.titleNum{
    margin-right: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffcd00;
    font-size: 16px;
    font-weight: 700;
    color : white;
}

.infoTitle h2{
    margin-bottom: 20px;
}

.introTitle{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #f2f2f2;
    margin-bottom: 25px;
}

.introWrap{
    display: flex;
    flex-direction: column;
}

.selectWrap{
    display: flex;
    width : 100%;
    margin-bottom : 30px;
}

.selectChild{   /* 각각의 비율을 동일하게 1로 줄것, 여백도 동등한 비율로 가져가기 위해 */
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 20px;
    width : 500px;
    box-sizing: border-box;
}

.selectChild p{
    display: inline-block;
    margin-bottom: 6px;
    color: #333;
    font-weight: 500;
}

.selectBox{
    position: relative;
    display: inline-block;
    width : 100%;
    height: 56px;
    background-color: white;
    box-sizing: border-box;
    border : 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

.selectBox:hover{
    border :2px solid #ffcd00;
}

.selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 13px;
    height: 56px;
    box-sizing: border-box;
    color: rgb(128, 128, 128);
}

.selectedValue{
    display: flex;
    align-items: center;
    max-width : 75%;
    height: 56px;
    color: #333;
}

.arrow{
    width : 24px;
}

.selectBox ul{ /* .optionWrap */
    display: none;
    width : 100%;
    border : 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    position: absolute;
    background-color: white;
    cursor : pointer;
    margin: 3px 0 0 -1px;
    z-index: 100;
}

.selectBox.active ul{
    display : block;
    background-color: white;
}

.option{
    padding : 11px 13px;
    color: #333;
    background-color: white;
}

.option:hover{
    background-color:rgba(255, 229, 121, 0.7);
}


.communicationInput{
    position: relative;
    display: inline-block;
    width : 100%;
    height: 56px;
    background-color: white;
    box-sizing: border-box;
    border : 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-top: 5px;
}

.communicationInput:hover{
    border :2px solid #ffcd00;
}

.communicationInput input {
    width : 100%;
    height : 100%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: left;
    font-size: 16px;
    font-family: inherit;
}

.contentTitle{
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 52px;
    border: 1px solid #e1e3e8;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    outline: none;
    margin-bottom: 20px;
    font-family: inherit;
}

textarea{
    width : 100%;
    height : 480px;
    box-sizing: border-box;
    padding : 20px;
    border: 1px solid #e1e3e8;
    resize: none;
    font-size: 19px;
    font-family: inherit;
    font-weight: 400;
    outline: none;
}

.btnWrap{
    display: flex;
    justify-content: flex-end; 
    margin-top: 15px;
}

button{
    cursor: pointer;
    border-radius: 4px;
    height : 40px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 450;
    outline: none;
    border : none;
}

button:hover{
    background-color:rgba(0, 0, 0, 0.1);
}

.cancelBtn{
    background: #e9ecef;
    color: #495057;
    margin-right: 16px;
    width : 70px;
}

.submitBtn{
    background: #ffe579;
    color: #495057;
    width : 75px;
}

.submitBtn:hover{
    background-color:rgba(255, 229, 121, 0.7);
}

#startDate{
    border :1px solid rgb(128, 128, 128);
}