<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoYeoDream!</title>
    <link rel="stylesheet" href="assets/css/boardDetail.css" />
    <link rel="stylesheet" href="assets/css/header.css" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <!-- 헤더 추가 -->
    <!-- 헤더 시작 -->
    <header>
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerLogo">
            <img src="assets/img/logo.png" />
          </div>
        </div>
        <div class="headerRight">
          <div class="write">
            <button class="writeBtn">새 글 쓰기</button>
            <div class="writeHidden">
              <div><p>스터디</p></div>
              <div><p>채용 공고</p></div>
              <div><p>자유 게시판</p></div>
            </div>
          </div>
          <div class="qna">
            <button class="qnaBtn">문의하기</button>
          </div>
          <div class="headerNoti">
            <img src="assets/img/notification.svg" />
            <div class="notiHidden">
              <div class="notiBoxTop">
                <div>
                  <p class="notiText">읽지 않은 알림 (</p>
                  <p class="notiNum">0</p>
                  <p>)</p>
                </div>
                <div class="notiXbtn">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    tabindex="1"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="notiZero"><p>알림함이 비어있습니다.</p></div>
            </div>
          </div>
          <div class="headerIcon">
            <img src="assets/img/mainicon.png" />
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M7 10l5 5 5-5z"></path>
            </svg>
            <div class="iconHidden">
              <div><p>내 작성글</p></div>
              <div><p>마이페이지</p></div>
              <div><p>로그아웃</p></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- 헤더 끝 -->
    <div class="main-container">
      <section class="top">
        <div class="back">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 448 512"
            color="808080"
            cursor="pointer"
            height="30"
            width="30"
            xmlns="http://www.w3.org/2000/svg"
            style="color: rgb(128, 128, 128)"
          >
            <path
              d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
            ></path>
          </svg>
        </div>
        <div class="study-title">오류가 났는데 해결이 안됩니다.</div>
        <div class="study-user">
          <div class="user-profile">
            <img
              src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG"
            />
            <div class="user-nickname">박해연</div>
          </div>
          <div class="study-registered-date">2022.06.15</div>
        </div>
        <section class="change-buttons">
          <button class="change-button">수정</button>
          <button class="change-button">삭제</button>
        </section>
        <div class="recommend-wrap">
          <div class="recommend-post">
            <div class="recommend-for">
              <div class="line"></div>
              <div class="recommend-who">
                <span class="visitant">방문자</span>님이<br />좋아하실 글을
                모아봤어요!
              </div>
            </div>
            <ul class="recommend-post">
              <li class="recommend">
                <div class="recommend-index">1.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">2.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">3.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">4.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">5.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">6.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">7.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">8.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">9.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
              <li class="recommend">
                <div class="recommend-index">10.</div>
                <div class="recommend-title">
                  카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- 글 내용 -->
      <section class="middle">
        <div class="post-content">
          <p>
            프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서 찾아봤는데도
            답이 안나오네요 도와주세요 이것저것 건들여도 해결이 안됩니다.
            유튜브에 영상있길래 따라 해봤는데 해결이 되지 않네요 혹시 아시는 분
            있을까요?
          </p>
        </div>
        <div class="edit-button">
          <button class="edit" onclick="location.href='boardEdit.html'">
            수정하기
          </button>
        </div>
      </section>
      <!-- 글 내용 -->
      <section class="study-comment-wrap">
        <div class="study-comment">
          <div class="comment-input-wrap">
            <h1>0개의 댓글이 있습니다.</h1>
            <textarea
              class="comment-input"
              placeholder="댓글을 입력하세요."
            ></textarea>
            <div class="comment-button">
              <button class="comment-input-button" name="register">
                댓글 등록
              </button>
            </div>
          </div>
          <ul class="comment-list">
            <li class="comment">
              <section class="comment-info-wrap">
                <div class="comment-info">
                  <img
                    src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG"
                  />
                  <div class="comment-title-wrap">
                    <div class="comment-title">
                      <div class="comment-user">berber</div>
                      <div class="comment-registered-date">
                        2021-08-16 09:38:49
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="comment-content-wrap">
                <p class="comment-content">저도 헷갈리네요</p>
              </section>
            </li>
            <li class="comment">
              <section class="comment-info-wrap">
                <div class="comment-info">
                  <img
                    src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG"
                  />
                  <div class="comment-title-wrap">
                    <div class="comment-title">
                      <div class="comment-user">자기계발</div>
                      <div class="comment-registered-date">
                        2021-08-17 00:17:47
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="comment-content-wrap">
                <p class="comment-content">제가 알려드릴게요</p>
              </section>
            </li>
            <li class="comment">
              <section class="comment-info-wrap">
                <div class="comment-info">
                  <img
                    src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG"
                  />
                  <div class="comment-title-wrap">
                    <div class="comment-title">
                      <div class="comment-user">알락꼬리고양이</div>
                      <div class="comment-registered-date">
                        2021-08-23 13:14:16
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="comment-content-wrap">
                <p class="comment-content">구글링 해보시면 나옵니다!</p>
              </section>
            </li>
            <li class="comment">
              <section class="comment-info-wrap">
                <div class="comment-info">
                  <img
                    src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG"
                  />
                  <div class="comment-title-wrap">
                    <div class="comment-title">
                      <div class="comment-user">민</div>
                      <div class="comment-registered-date">
                        2022-06-14 16:09:51
                      </div>
                    </div>
                  </div>
                </div>
                <section class="comment-button-wrap">
                  <button class="comment-button">수정</button>
                  <button class="comment-button">삭제</button>
                </section>
              </section>
              <section class="comment-content-wrap">
                <p class="comment-content">안녕하세요</p>
              </section>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
  <script src="assets/js/studyView.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="assets/js/header.js"></script>
</html>
