<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티</title>
    <link rel="stylesheet" href="assets/css/boardEdit.css" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="root">
      <!-- 헤더  -->
      <div class="board_Post">
        <section>
          <div class="boardPost_ContentWrapper">
            <span class="post_Circle"></span>
            <h2 class="boardPost_text">글을 수정해주세요.</h2>
          </div>
        </section>
        <section>
          <label for="input" class="input_labelText">제목</label>
          <input
            type="text"
            class="input_box"
            id="input"
            placeholder="글 제목"
            value="오류가 났는데 해결이 안됩니다."
          />
          <div class="postText_box">
            <textarea
              class="comment-input"
              placeholder="욕설/비방/비하 게시물은 삭제처리 될 수 있습니다."
            >
프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서 찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도 해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이 되지 않네요 혹시 아시는 분 있을까요?</textarea
            >
          </div>
        </section>
        <section class="register_button">
          <button class="write_register">수정하기</button>
          <button class="write_cancel">취소하기</button>
        </section>
      </div>
    </div>
  </body>
</html>
