<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티</title>
    <link rel="stylesheet" href="assets/css/borderWrite.css" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="root">
      <!-- 헤더  -->
      <div class="board_Post">
        <section>
          <div class="boardPost_ContentWrapper">
            <span class="post_Circle"></span>
            <h2 class="boardPost_text">자유롭게 글을 작성해주세요.</h2>
          </div>
        </section>
        <section>
          <label for="input" class="input_labelText">제목</label>
          <input
            type="text"
            class="input_box"
            id="input"
            placeholder="글 제목을 입력해주세요!"
            value
          />
          <div class="postText_box">
            <textarea
              class="comment-input"
              placeholder="욕설/비방/비하 게시물은 삭제처리 될 수 있습니다."
            ></textarea>
          </div>
        </section>
        <section class="register_button">
          <button class="write_register">글 등록</button>
          <button class="write_cancel">취소</button>
        </section>
      </div>
    </div>
  </body>
</html>
