<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoYeoDream!</title>
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/studyCreate.css">
</head>
<body>
    <div class="main-container">
        <section class="bottom">
            <div class="study-title">
                <span>1</span>
                <h2>문의사항을 작성해주세요.</h2>
            </div>
            <section class="study-title-input">
                <label for="title-input">제목</label>
                <input type="text" name="titleInput" id="title-input" placeholder="글 제목을 입력해주세요!">
                <!-- 썸머노트 자리 -->
                <div class="summernote">
                    <h3>썸머노트 자리</h3>
                </div>
            </section>
            <section class="study-button">
                <button class="cancel">취소</button>
                <button class="register">등록</button>
            </section>
        </section>
    </div>
</body>
</html>