<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MoYeoDream!</title>
  <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="assets/css/inquiryList.css"/>
  <link rel="stylesheet" href="assets/css/header.css">
</head>
<body>
  <header>
    <div class="headerWrap">
      <div class="headerLeft">
          <div class="headerLogo">
              <img src="assets/img/logo.png">
          </div>
      </div>
      <div class="headerRight">
          <div class="write">
              <button class="writeBtn">새 글 쓰기</button>
              <div class="writeHidden">
                  <div><p>스터디</p></div>
                  <div><p>채용 공고</p></div>
                  <div><p>자유 게시판</p></div>
              </div>
          </div>
          <div class="qna">
              <button class="qnaBtn">문의하기</button>
          </div>
          <div class="headerNoti">
              <img src="assets/img/notification.svg">
              <div class="notiHidden">
                  <div class="notiBoxTop">
                      <div>
                          <p class="notiText">읽지 않은 알림 (</p><p class="notiNum">0</p><p>)</p>
                      </div>
                      <div class="notiXbtn">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" tabindex="1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
                      </div>
                  </div>
                  <div class="notiZero"><p>알림함이 비어있습니다.</p></div>
              </div>
          </div>
          <div class="headerIcon">
              <img src="assets/img/mainicon.png">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path></svg>
              <div class="iconHidden">
                  <div><p>내 작성글</p></div>
                  <div><p>마이페이지</p></div>
                  <div><p>로그아웃</p></div>
              </div>
          </div>
      </div>
    </div>
  </header>
  <div class="main-container">
    <section class="category-box" style="border-bottom: 2px solid #d1d1d1">
      <h2 class="page-title">문의하기</h2>
      <button class="new-inquiry">새 글 쓰기</button>
    </section>
    <section class="board-list-container">
      <ul class="board-list">
        <li class="board-container">
          <a href="#">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">채용 공고 어떻게 올리나요?</h3>
                </div>
                <p class="board_body">채용 공고 올리는 부분을 못 찾겠습니다 ㅠ 혹시 어디에 있는지 알 수 있을까요?</p>
                <div class="board_info-footer">
                  <span>민</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.17</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">1</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" color="#999999" height="28" width="28" xmlns="http://www.w3.org/2000/svg" style="color: rgb(153, 153, 153)">
                    <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="#">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">채용 공고 어떻게 올리나요?</h3>
                </div>
                <p class="board_body">채용 공고 올리는 부분을 못 찾겠습니다 ㅠ 혹시 어디에 있는지 알 수 있을까요?</p>
                <div class="board_info-footer">
                  <span>민</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.17</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">1</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" color="#999999" height="28" width="28" xmlns="http://www.w3.org/2000/svg" style="color: rgb(153, 153, 153)">
                    <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li><li class="board-container">
          <a href="#">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">채용 공고 어떻게 올리나요?</h3>
                </div>
                <p class="board_body">채용 공고 올리는 부분을 못 찾겠습니다 ㅠ 혹시 어디에 있는지 알 수 있을까요?</p>
                <div class="board_info-footer">
                  <span>민</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.17</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">1</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" color="#999999" height="28" width="28" xmlns="http://www.w3.org/2000/svg" style="color: rgb(153, 153, 153)">
                    <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li><li class="board-container">
          <a href="#">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">채용 공고 어떻게 올리나요?</h3>
                </div>
                <p class="board_body">채용 공고 올리는 부분을 못 찾겠습니다 ㅠ 혹시 어디에 있는지 알 수 있을까요?</p>
                <div class="board_info-footer">
                  <span>민</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.17</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">1</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" color="#999999" height="28" width="28" xmlns="http://www.w3.org/2000/svg" style="color: rgb(153, 153, 153)">
                    <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li><li class="board-container">
          <a href="#">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">채용 공고 어떻게 올리나요?</h3>
                </div>
                <p class="board_body">채용 공고 올리는 부분을 못 찾겠습니다 ㅠ 혹시 어디에 있는지 알 수 있을까요?</p>
                <div class="board_info-footer">
                  <span>민</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.17</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">1</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" color="#999999" height="28" width="28" xmlns="http://www.w3.org/2000/svg" style="color: rgb(153, 153, 153)">
                    <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="assets/js/header.js"></script>
</html>
