<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoYeoDream!</title>
    
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/myPage.css">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
</head>
<body style="width: auto;">

	<div>
		<div id="wrapper">
			<div class="wrapper2">

                <!-- 헤더 추가 -->
                <!-- 헤더 시작 -->
                <header>
                    <div class="headerWrap">
                        <div class="headerLeft">
                            <div class="headerLogo">
                                <img src="assets/img/logo.png">
                            </div>
                        </div>
                        <div class="headerRight">
                            <div class="write">
                                <button class="writeBtn">새 글 쓰기</button>
                                <div class="writeHidden">
                                    <div><p>스터디 • 프로젝트</p></div>
                                    <div><p>채용 공고</p></div>
                                    <div><p>자유 게시판</p></div>
                                </div>
                            </div>
                            <div class="qna">
                                <button class="qnaBtn">문의하기</button>
                            </div>
                            <div class="headerNoti">
                                <img src="assets/img/notification.svg">
                                <div class="notiHidden">
                                    <div class="notiBoxTop">
                                        <div>
                                            <p class="notiText">읽지 않은 알림 (</p><p class="notiNum">0</p><p>)</p>
                                        </div>
                                        <div class="notiXbtn">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" tabindex="1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
                                        </div>
                                    </div>
                                    <div class="notiZero"><p>알림함이 비어있습니다.</p></div>
                                </div>
                            </div>
                            <div class="headerIcon">
                                <img src="assets/img/mainicon.png">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path></svg>
                                <div class="iconHidden">
                                    <div><p>내 작성글</p></div>
                                    <div><p>마이페이지</p></div>
                                    <div><p>로그아웃</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- 헤더 끝 -->

				<div class="kgBzKM">
					<div class="gqgKCQ">
						<header class="fTBYHw">
                            
						</header>
						<div class="iTujEl">
							<aside class="ipCzuu">
								<section class="LaCvk cgWehN">
									<h4 class="jdPAHA dyWeXC">내 정보</h4>
									<a class="eYKbXT" onclick="location.href='ViewCoupon.co'">
										<div class="cqZvVN gkiCmL">프로필 수정</div>
									</a>
                                    <a class="eYKbXT" href="Logout.us">
										<div class="cqZvVN gkiCmL">로그아웃</div>
									</a>
								</section>
								<section class="LaCvk cgWehN fXhCUc">
									<h4 class="jdPAHA dyWeXC">메뉴</h4>
									<a class="eYKbXT" onclick="location.href='createrSupport.jsp'">
										<div class="cqZvVN gkiCmL">내 스터디</div>
									</a>
									<a class="eYKbXT" onclick="location.href='createrSupport.jsp'">
										<div class="cqZvVN gkiCmL">내 게시글</div>
									</a>
									<a class="eYKbXT" onclick="location.href='createrSupport.jsp'">
										<div class="cqZvVN gkiCmL">내 댓글</div>
									</a>
									
								</section>
							</aside>


							<div class="section-wrap">

								<div class="profile-img">
                                    <div>  
                                        <div class="profile-img2">
                                            <img class="profile-img3" src="https://cdnimage.dailian.co.kr/news/201805/news_1525854162_712154_m_1.jpg">
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <div class="my-info-title">
                                        <div class="my-info-title2">
                                            <div class="my-info-title3">
                                                한 줄 소개가 비어있습니다.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="void-block"></div>

                                <div class="my-info-box">
                                    <h3 class="profile-title">My Profile</h3>
                                    
                                    <div class="void-line">
                                        <div class="void-line2">
                                            <div class="void-line3"></div>
                                        </div>
                                    </div>

                                    <div class="my-info">
                                        <div class="my-info2">
                                            <span style="font-size: 18px;">&#9997;&nbsp;</span>
                                            강동원
                                        </div>
                                    </div>

                                    <div class="my-info">
                                        <div class="my-info2">
                                            <span style="font-size: 19px;">&#128236;&nbsp;</span>
                                            example@example.com
                                        </div>
                                    </div>

                                </div>

                                <div class="my-info-box my-info-box2">
                                    <h3 class="profile-title">관심 분야</h3>
                                    
                                    <div class="void-line">
                                        <div class="void-line2">
                                            <div class="void-line3"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="all-my-info">
                                        <div class="my-info">
                                            <div class="my-info2">
                                                웹 개발자
                                            </div>
                                        </div>

                                        <div class="my-info">
                                            <div class="my-info2">
                                                배우
                                            </div>
                                        </div>
                                        <div class="my-info">
                                            <div class="my-info2">
                                                가수
                                            </div>
                                        </div>
                                        <div class="my-info">
                                            <div class="my-info2">
                                                짜파게티 요리사
                                            </div>
                                        </div>
                                        <div class="my-info">
                                            <div class="my-info2">
                                                멋쟁이 토마토
                                            </div>
                                        </div>
                                        
                                        
                                    </div>


                                </div>

							</div>

						</div>
					</div>
				</div>

                <!-- 푸터 추가 -->
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="assets/js/header.js"></script>
</html>