<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoYeoDream!</title>
    <link rel="stylesheet" href="assets/css/studyView.css">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main-container">
        <section class="top">
            <div class="back">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="808080" cursor="pointer" height="30" width="30" xmlns="http://www.w3.org/2000/svg" style="color: rgb(128, 128, 128);">
                    <path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                </svg>
            </div>
            <div class="study-title">왕초보 온라인 스터디원 모집합니다!(js)</div>
            <div class="study-user">
                <div class="user-profile">
                    <img src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG">
                    <div class="user-nickname">Kgm</div>
                </div>
                <div class="study-registered-date">2022.06.08</div>
            </div>
            <div class="recommend-wrap">
                <div class="recommend-post">
                    <div class="recommend-for">
                        <div class="line">
                            
                        </div>
                        <div class="recommend-who">
                            <span class="visitant">방문자</span>님이<br>좋아하실 글을 모아봤어요!
                        </div>
                    </div>
                    <ul class="recommend-post">
                        <li class="recommend">
                            <div class="recommend-index">1.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">2.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">3.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">4.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">5.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">6.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">7.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">8.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">9.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">10.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="study-info-wrap">
                <li class="study-info">
                    <span class="study-info-title">카테고리</span>
                    <span class="study-info-content">프로그래밍</span>
                </li>
                <li class="study-info">
                    <span class="study-info-title">진행 방식</span>
                    <span class="study-info-content">온라인</span>
                </li>
                <li class="study-info">
                    <span class="study-info-title">모집 인원</span>
                    <span class="study-info-content">인원 미정</span>
                </li>
                <li class="study-info">
                    <span class="study-info-title">시작 예정</span>
                    <span class="study-info-content">2022.06.08</span>
                </li>
                <li class="study-info">
                    <span class="study-info-title">연락 방법</span>
                    <div class="study-info-content">
                        <a class="kakao-openchatting" href="#">
                            <span>카카오톡 오픈채팅</span>
                            <img src="https://holaworld.io/images/info/link.svg">
                        </a>
                    </div>
                </li>
                <li class="study-info">
                    <span class="study-info-title">예상 기간</span>
                    <span class="study-info-content">장기</span>
                </li>
            </ul>
        </section>
        <section class="middle">
            <h2 class="user-introduction">스터디장 소개</h2>
            <div class="user-introduction">
                <p>많은 곳에서 개발자 생활을 했었습니다!</p>
                <p>ㅁㅁㅁ, ㅂㅂㅂ 등의 회사에 프론트엔드 개발자 생활을 했고,</p>
                <p>현재는 ㅇㅇㅇ에서 프론트엔드 개발자 생활을 하고 있습니다.</p>
                <p>제가 제일 자신있는 언어는 Java Script입니다.</p>
                <p><br></p>
                <p>저도 잘하진 않지만 제가 많이 도와드리겠습니다.</p>
                <p>많이 연락주세요!</p>
            </div>
            <div class="study-introduction-wrap">
                <h2 class="study-introduction">스터디 소개</h2>
                <div class="study-introduction">
                    <p>스터디 주제 : 팀 프로젝트</p>
                    <p>스터디 목표 : 결과물 만들어내기!</p>
                    <p>(첫 프로젝트는 네이버 웹툰 클론 코딩입니다.)</p>
                    <p>저희 스터디는 js를 공부합니다.</p>
                    <p><br></p>
                    <p>스터디 일정(횟수) : (평일) 월,수,금 8시~12시, (주말) 일요일 8시~12시</p>
                    <p><br></p>
                    <p>처음 시작하시는 분들도 있고, 다 같이 공부하려고 모이는 스터디 그룹입니다.</p>
                    <p>따라서 포트폴리오나 당장 결과물이 원한다 하시는 분은 같이하기 어렵습니다...</p>
                    <p><br></p>
                    <p>공부 할 시간이 많은 분, 단기적으로 열심히 할 사람보단, 장기적으로 열심히 할 분들,&nbsp;혼자 하는데 방향성을 못 잡으시거나, 열심히 하려고는 하는데 막막하신 분들을 환영입니다!</p>
                    <p><br></p>
                    <p>팀 프로젝트 이외에 같이 진도를 맞춰서 인강(책)을 공부할 생각이라, 인강(책)값 정도만 자신에게 투자할 수 있는 분이셨으면 좋겠습니다. (최대한 부담 안가는 쪽으로 정할 겁니다.)</p>
                    <p><br></p>
                    <p>스터디 규칙:</p>
                    <p>오셔서 잠수 타시는 분들이나 열심히 안 하시는 분들 때문에 열심히 하는 분들이 피해를 보아 규칙을 정했습니다!</p>
                    <p><br></p>
                    <p><strong>스터디 그룹 규칙</strong></p>
                    <p><strong>사유 없이 2회 이상 결석 시 추방</strong></p>
                    <p><strong>3일 연속 사유 없이 공부 인증이 없을 시 경고</strong></p>
                    <p><strong>(경고 3회 누적 시 추방)</strong></p>
                    <p><br></p>
                    <p>조건에 맞지 않아도 하고 싶은 분들은 와서 얼마든지 물어봐 주세요!</p>
                </div>
            </div>
        </section>
        <section class="study-comment-wrap">
            <div class="study-comment">
                <div class="comment-input-wrap">
                    <h1>0개의 댓글이 있습니다.</h1>
                    <textarea class="comment-input" placeholder="댓글을 입력하세요."></textarea>
                    <div class="comment-button">
                        <button class="comment-input-button" name="register">댓글 등록</button>
                    </div>
                </div>
                <ul class="comment-list">
    
                </ul>
            </div>
        </section>
    </div>
</body>
<script src="assets/js/studyView.js"></script>
</html>