<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoYeoDream!</title>
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/writeStudy.css">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">

</head>
<body>
    <!-- 헤더 시작 -->
    <header>
        <div class="headerWrap">
            <div class="headerLeft">
                <div class="headerLogo">
                    <img src="assets/img/logo.png">
                </div>
            </div>
            <div class="headerRight">
                <div class="write">
                    <button class="writeBtn">새 글 쓰기</button>
                    <div class="writeHidden">
                        <div><p>스터디 • 프로젝트</p></div>
                        <div><p>채용 공고</p></div>
                        <div><p>자유 게시판</p></div>
                    </div>
                </div>
                <div class="qna">
                    <button class="qnaBtn">문의하기</button>
                </div>
                <div class="headerNoti">
                    <img src="assets/img/notification.svg">
                    <div class="notiHidden">
                        <div class="notiBoxTop">
                            <div>
                                <p class="notiText">읽지 않은 알림 (</p><p class="notiNum">0</p><p>)</p>
                            </div>
                            <div class="notiXbtn">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" tabindex="1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
                            </div>
                        </div>
                        <div class="notiZero"><p>알림함이 비어있습니다.</p></div>
                    </div>
                </div>
                <div class="headerIcon">
                    <img src="assets/img/mainicon.png">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path></svg>
                    <div class="iconHidden">
                        <div><p>내 작성글</p></div>
                        <div><p>마이페이지</p></div>
                        <div><p>로그아웃</p></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 헤더 끝 -->
    <section>
        <div class="sectionWrap">
            <!-- form 시작 -->
            <form action="" name="registerForm">
                <div class="sectionInfo">
                    <div class="infoTitle">
                        <span class="titleNum">1</span>
                        <h2>스터디 기본 정보를 입력해주세요.</h2>
                    </div>
                    <div class="infoWrap">
                        <ul>
                            <li>
                                <ul class="selectWrap">
                                    <li class="selectChild">
                                        <p>카테고리</p>
                                        <div class="selectBox">
                                            <div class="selected"> 
                                                <div class="selectedValue">카테고리 선택</div>
                                                <div class="arrow">
                                                    <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg>
                                                </div>
                                            </div>
                                            <ul class="optionWrap">
                                                <li class="option">문화 • 예술 </li>
                                                <li class="option">스포츠 • 레저 </li>
                                                <li class="option">컴퓨터 • 프로그래밍 </li>
                                                <li class="option">외국어 • 토익 • 토플 </li>
                                                <li class="option">인문 • 과학 </li>
                                                <li class="option">경제 • 금융 </li>
                                                <li class="option">정치 • 사회 </li>
                                                <li class="option">자격증 </li>
                                                <li class="option">공무원 </li>
                                                <li class="option">취업 • 면접 </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="selectChild">
                                        <p>진행 방식</p>
                                        <div class="selectBox">
                                            <div class="selected"> 
                                                <div class="selectedValue">온라인/오프라인</div>
                                                <div class="arrow">
                                                    <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg>
                                                </div>
                                            </div>
                                            <ul class="optionWrap">
                                                <li class="option">온라인</li>
                                                <li class="option">오프라인</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="selectWrap">
                                    <li class="selectChild">
                                        <p>시작 예정일</p>
                                        <label for="startDate">
                                            <div class="selectBox">
                                                <div class="selected"> 
                                                    <div class="selectedValue">시작 예정일 선택</div>
                                                    <div class="arrow">
                                                        <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CalendarIcon"><path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path></svg>
                                                    </div>
                                                 </div>
                                             </div>
                                             <input type="date" name="startDate" id="startDate">
                                        </label>
                                    </li>
                                    <li class="selectChild">
                                        <p>진행 기간</p>
                                        <div class="selectBox">
                                            <div class="selected"> 
                                                <div class="selectedValue">기간 미정~6개월 이상</div>
                                                <div class="arrow">
                                                    <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg>
                                                </div>
                                            </div>
                                            <ul class="optionWrap">
                                                <li class="option">기간 미정</li>
                                                <li class="option">1개월</li>
                                                <li class="option">2개월</li>
                                                <li class="option">3개월</li>
                                                <li class="option">4개월</li>
                                                <li class="option">5개월</li>
                                                <li class="option">6개월</li>
                                                <li class="option">장기</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="selectWrap">
                                    <li class="selectChild">
                                        <p>모집 인원</p>
                                        <div class="selectBox">
                                            <div class="selected"> 
                                                <div class="selectedValue">인원 미정~10명 이상</div>
                                                <div class="arrow">
                                                    <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg>
                                                </div>
                                            </div>
                                            <ul class="optionWrap">
                                                <li class="option">인원 미정</li>
                                                <li class="option">1명</li>
                                                <li class="option">2명</li>
                                                <li class="option">3명</li>
                                                <li class="option">4명</li>
                                                <li class="option">5명</li>
                                                <li class="option">6명</li>
                                                <li class="option">7명</li>
                                                <li class="option">8명</li>
                                                <li class="option">9명</li>
                                                <li class="option">10명 이상</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="selectChild">
                                        <p>연락 방법</p>
                                        <div class="selectBox">
                                            <div class="selected"> 
                                                <div class="selectedValue">카카오톡 오픈 채팅</div>
                                                <div class="arrow">
                                                    <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg>
                                                </div>
                                            </div>
                                            <ul class="optionWrap">
                                                <li class="option">카카오톡 오픈 채팅</li>
                                                <li class="option">이메일</li>
                                                <li class="option">구글폼</li>
                                            </ul>
                                        </div>
                                        <div>
                                            <label class="communicationInput" for="commuInput">
                                                <input type="text" id="commuInput">
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sectionIntro">
                    <div class="introTitle">
                        <span class="titleNum">2</span>
                        <h2>스터디 대해 소개해주세요.</h2>
                    </div>
                    <div class="introWrap">
                        <p>제목</p>
                        <input type="text" class="contentTitle" name="title" placeholder="글 제목을 입력해주세요!">
                        <textarea name="content" placeholder="프로젝트에 대해 소개해주세요! (썸머노트로 대체예정)"></textarea>
                    </div>
                </div>
                <div class="btnWrap">
                    <button type="button" class="cancelBtn">취소</button>
                    <button type="button" class="submitBtn">글 등록</button>
                </div>
            </form>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="assets/js/header.js"></script>
<script src="assets/js/writeStudy.js"></script>
</html>