.mainSession{
    text-align: center;
}

.errorLogo{
    margin-top: 150px;
}

.errorLogo img{
    height: 150px;
}

.errorBox1{
    color: gray;
    font-size: 14px;
    margin-top: 40px;
}

.errorBox2{
    font-weight: bold;
    margin-top: 5px;
    font-size: 19px;
}

.goMainBox{
    margin-top: 65px;
    font-weight: bold;
    font-size: 18px;
}

span.goMain{
}

span.goMain a:hover{
    color: gold;
    cursor: pointer;
}
