button{
    font-family: inherit;
}

header{
    width : 100%;
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

a{
    text-decoration: none;
    color : inherit;
}

a:hover{
    text-decoration: none;
    color : inherit;
}

.headerWrap{
    margin : 0 auto;
    max-width: 1180px;
    height : 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.headerLeft, .headerRight{
    height : 100%;
    display: flex;
    align-items: center;
}

.headerLogo {
    height : 62px;
    width : fit-content;
    cursor: pointer;
}

.headerLogo img {
    height: 62px;
}

.headerRight{
    width : fit-content;
    height : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write{
    position: relative;
    margin-right: 15px;
}

.writeBtn{
    outline: none;
    background-color: transparent;
    border : none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.writeHidden{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width : 200px;
    height : 150px;
    top: 42px;
    left: -5px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    font-weight: 400;
    cursor: pointer;
}

.writeHidden div{
    display: flex;
    align-items: center;
    width : 100%;
    height : 50px;
    background-color: inherit;
}

.writeHidden div:hover{
    background-color: rgb(0 0 0 / 10%);
}


.writeHidden p{
    margin:0;
    margin-left: 20px;
}

.qna{
    margin-right: 15px;
}

.qnaBtn{
    outline: none;
    background-color: transparent;
    border : none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.login{
    margin-right: 15px;
}

.loginBtn{
    outline: none;
    background-color: transparent;
    border : none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.header-post{
    margin-right: 15px;
}

.postBtn{
    outline: none;
    background-color: transparent;
    border : none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.headerNoti{
    position: relative;
    margin-right: 15px;
}

.headerNoti img{
    height : 25px;
    padding-top: 3px;
    cursor: pointer;
}

.notiHidden{
    display : none;
    position: absolute;
    width : 350px;
    height : 480px;
    background-color: white;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    top: 45px;
    left: -255px;
    overflow-y: scroll;
    cursor: pointer;
    z-index : 1000;
}

.notiBoxTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d7e2eb;
}

.notiText{
    display: inline-block;
    margin: 20px 0;
    margin-left: 20px;
}

.notiHidden p{
    display: inline-block;
}

.notiXbtn{
    display: inline-block;
    margin-right: 20px;
}

.notiXbtn:hover{
    background-color: rgb(0 0 0 / 10%);
}

.notiZero{
    text-align: center;
    color: #4a5275;
}

.notiZero p{
    margin: 20px 0;
}

.headerIcon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.headerIcon img{
    width : 40px;
    height : 40px;
    border-radius: 50%;
}

.headerIcon svg{
    line-height: 24px;
}   

.iconHidden{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width : 180px;
    top: 48px;
    left: -25px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
    font-weight: 400;
}

.iconHidden p{
    margin: 20px 0;
}

.open{
    display: block;
}

.iconHidden div{
    display: flex;
    align-items: center;
    width : 100%;
    height : 50px;
    background-color: inherit;
}

.iconHidden div:hover{
    background-color: rgb(0 0 0 / 10%);
}

.iconHidden p{
    margin-left: 20px;
}

