@charset "UTF-8";

body{
    margin: 0;
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: border-box;
    min-height: 100%;
}

div {
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 10;
    list-style: none;
}

section {
    display: block;
}

a{
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

p{
    margin: 0;
    line-height: 1.6;
}

.back{
    margin-left: 40px;
    margin-bottom: 9px;
}

#root{
    min-height: 100%;
}

.myPosts_pageWrapper__2qXu7{
    padding-top: 5rem;
}

.myPosts_myLikes__2p117{
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.myPosts_main__2wLL_{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 40px;
}

.myPosts_category__1HXY_{
    display: flex;
    margin-bottom: 2rem;
}

.myPosts_category__item__4sMf6{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.myPosts_text__nTd81{
    margin-left: .5rem;
    color: #343a40;
}

.studyList_studyList__3xoys{
    display: flex;
    grid-gap: 35px;
    gap: 35px;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 10rem;
}

.info-read{
    font-size: 16px;
    padding-left: 57px;
}


/* -------------댓글 목록------------ */

.posts-container-header{
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6;
}


.posts-by-type .question-list-container{
    margin-bottom: 40px;
}

.question{
    display: flex;
    padding: 9px 16px;
    border-bottom: 1px solid #dee2e6;
}

.question .question__info{
    flex: 1 1 590px;
    max-width: 590px;
}

.question .question__title{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.question .title__text{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    white-space: normal;
    line-height: 1.5;
    max-height: "3px";
    text-align: left;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-right: 9px;
    font-size: 18px;
    font-weight: 700;
    color: #1b1c1d;
}

.infd-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease;
}

.question .title__icon{
    position: relative;
    top: 6px;
    margin-left: 9px;
    width: 24px;
    height: 18px;
}

.question .question__body{
    margin-bottom: 12px;
    max-height: 44px;
    color: #616568;
    overflow: hidden;
    font-size: 15px;
}

.question .question__tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.question .question__info-footer{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    color: #858a8d;
}

.question .question__additional-info{
    flex: 1 1 146px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    max-width: 146px;
}

.question .question__comment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 66px;
    height: 66px;
    border-radius: 100px;
    border: 1px solid #dee2e6;
}

.question .comment__count{
    font-size: 18px;
    font-weight: 500;
    color: #1b1c1d;
}

.question .comment__description{
    font-size: 12px;
    font-weight: 500;
    color: #616568;
}

.ac-button{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    margin: 0;
}

.ac-button.is-md{
    padding: 0 12px;
    height: 40px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: -.3px;
}

.ac-button.is-text{
    border: unset;
    background-color: unset;
    color: #495057;
    font-weight: 500;
}

.question .question__like svg{
    margin-right: 4px;
}


/* 페이징 버튼 */

.pagination{
    font-size: 1rem;
    margin: -.25rem;
}

.pagination, .pagination-list{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pagination{
    justify-content: space-between;
}

.pagination.is-small{
    font-size: .75rem;
}

.pagination-list{
    flex-wrap: wrap;
}

.pagination-list{
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    order: 2;
}

.pagination-link{
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    height: 2.25em;
    line-height: 1.5;
    padding: calc(.375em - 1px) calc(.625em - 1px);
    position: relative;
    vertical-align: top;
    font-size: 1em;
    padding-left: .5em;
    padding-right: .5em;
    justify-content: center;
    margin: .25rem;
    text-align: center;
    border-color: #dbdbdb;
    color: #363636;
    min-width: 2.25em;
}

.pagination-link.is-current{
    background-color: #1dc078;
    border-color: #1dc078;
    color: #fff;
}



/* 삭제 기능 */

.delete-button{
    position: absolute;
    right: 260px;
    top: 246px;
    font-size: 14px;
    cursor: pointer;
}

.delete-button2{
    position: absolute;
    right: 260px;
    top: 246px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

.not-delete-button{
    position: absolute;
    right: 341px;
    top: 246px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

.all-delete-button{
    position: absolute;
    right: 260px;
    top: 246px;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

.delete-button:hover{
    color: gray;
}

.delete-button2:hover{
    color: red;
}

.not-delete-button:hover{
    color: gray;
}

.all-delete-button:hover{
    color: gray;
}

input.delete-checkbox{
    margin: auto 10px;
    display: none;
}




/* 페이징 버튼 */
.pagination .pagination-list {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.pagination.is-small {
    font-size: 0.75rem;
}
.pagination-link,
.pagination-prev,
.pagination-next {
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    height: 2.25em;
    line-height: 1.5;
    padding: calc(0.375em - 1px) calc(0.625em - 1px);
    position: relative;
    vertical-align: top;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    justify-content: center;
    margin: 0.25rem;
    text-align: center;
    border-color: #dbdbdb;
    color: #363636;
    min-width: 2.25em;
}
.pagination-link.is-current {
    background-color: #ffe579;
    border-color: #ffe579;
    color: #000;
    font-weight: 600;
}
