@charset "UTF-8";

*{
 font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

body{
    display: block;
    margin: 8px;
}

body{
    margin: 0;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    background: #ffffff;
    position: relative;
    margin: 0;
}

div{
	display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

svg {
    width: 14;
    height: 14;
    fill: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

hr{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border:none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:-webkit-any-link {
    cursor: pointer;
}

body{
    line-height: 1;
}

body{
    margin: 0;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
}

body>div{
    position: relative;
    z-index: 0;
}

.wrapper2{
    position: relative;
}

.kgBzKM{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-top: 1px solid rgba(55, 53, 47, 0.16);
}

.gqgKCQ{
    max-width: 1176px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.fTBYHw{
    padding: 82px 0px 48px;
}

.efFJDg{
    display: inline-block;
}

.cYLUty{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: rgb(26, 26, 26);
    margin-bottom: 0px;
    cursor: pointer;
}

.cqZvVN{
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
}

.liqddx{
    color: rgb(162, 162, 162);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.iTujEl{
    display: flex;
    height: 444px;
}

.ipCzuu{
    width: 235px;
    margin-right: 121px;
    border-right: 1px solid rgba(55, 53, 47, 0.16);
    padding-top: 7px;
}

.cgWehN{
    margin-bottom: 48px;
}

.jdPAHA{
    font-size: 18px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.45px;
    margin: 0px;
}

.dyWeXC{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 16px;
}

.eYKbXT{
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    cursor: pointer;
}

.cqZvVN{
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
}

.fXhCUc{
    display: block;
}

.cgWehN:last-of-type{
    margin-bottom: 24px;
}

.fSJEcd{
    display: none;
    border-bottom: 12px solid rgb(240, 240, 240);
    margin: 0px -24px;
}

.jlbLpy{
    flex: 1 1 0%;
    min-width: 0px;
}


.kNxSwr{
    margin-bottom: 48px;
}

.hcxVgX{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.cHXTMU{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.cFqqVC{
    font-size: 18px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.45px;
    margin: 0px;
}

.kgBzKM{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.VOHdJ{
    text-align: center;
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    padding: 24px 0px;
    flex-direction: row;
}

.liqddx:hover{
	color: rgb(0, 199, 60);
}

.gkiCmL:hover{
	text-decoration: underline;
}

/* -------------------------------------------------- */
.section-wrap{
    position: relative;
    width: 550px;
}

.profile-img{
    user-select: none;
    transition: background 20ms ease-in 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    border-radius: 3px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    margin-left: 3px;
    margin-bottom: 0px;
    align-self: flex-start;
    pointer-events: auto;
    margin-top: -40px;
}

.profile-img2{
    width: 100%;
    height: 100%;
}

.profile-img3{
    display: block;
    object-fit: cover;
    width: 124.32px;
    height: 124.32px;
    transition: opacity 100ms ease-out 0s;
    box-shadow: 0 0 8px rgb(0 0 0 / 9%);
    border: 0;
    border-radius: 50%;
}

.void-block{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: -1px;
    color: rgba(55, 53, 47, 0.5);
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    height: 24px;
    pointer-events: auto;
}

.void-line{
    width: 210px;
    max-width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.void-line2{
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    width: 100%;
    height: 13px;
    flex: 0 0 auto;
    color: rgba(55, 53, 47, 0.16);
}

.void-line3{
    width: 100%;
    height: 1px;
    visibility: visible;
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}

.my-info-title{
    width: 100%;
    max-width: 460px;
    margin-top: 1.4em;
    margin-bottom: 1px;
}

.my-info-title2{
    width: 100%;
    color: inherit;
    fill: inherit;
}

.my-info-title3{
    max-width: 100%;
    width: 100%;
    word-break: break-word;
    caret-color: transparent;
    padding: 3px 2px;
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 600;
    line-height: 1.3;
}

.my-info-box{
    position: absolute;
}

.my-info-box2{
    left: 340px;
}

.all-my-info{
    height: 210px;
    overflow: hidden;
}

.my-info{
    width: 100%;
    max-width: 100%;
    margin-top: 18px;
    margin-bottom: 1px;
}

.my-info2{
    max-width: 100%;
    width: 100%;
    word-break: break-word;
    caret-color: transparent;
    padding: 3px 2px;
    display: flex;
}

.noCategory{
    font-size: 11px;
    color: gray;
}

.cateBlockk{
    display: none;
}

.cateListItem{
    margin-right: 8px;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffe579;
    font-size: 16px;
    font-weight: 700;
    color: white;
}












