@charset "UTF-8";

body {
    display: block;
    margin: 8px;
}

body{
    margin: 0;
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: border-box;
    min-height: 100%;
}

div {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

button{
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

#root{
    min-height: 100%;
    z-index: 1;
    position: relative;
}

.main-box{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-bottom: 5rem;
}

.img-input2{
    display: flex;
}

.img-example2{
    display: block;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 0 8px rgb(0 0 0/9%);
    border-radius: 50%;
    object-fit: cover;
    transition: all .125s ease-in 0s;
    margin: 40px 0;
}

.img-controller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
}

.img-choose{
    background-color: #262626;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding-top: 4px;
    width: 7.5rem;
    height: 2rem;
    font-weight: 500;
    margin: 5px;
}

.img-controller input[type=file]{
    display: none;
}

.img-delete2{
    width: 7.5rem;
    height: 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 4px;
    background-color: #262626;
    margin: 5px 0 5px 5px;
    padding: 0;
    font-weight: 600;
}

.user-info-box{
    display: flex;
    align-items: center;
}

.user-info-box h3{
    width: 20rem;
}

.info-1{
    margin-top: .875rem;
    color: #868e96;
    font-size: .875rem;
}

.user-info-box{
    display: flex;
    align-items: center;
}

.user-info-box2{
    margin-top: 3rem;
}

.user-info-box h3{
    width: 20rem;
}

.user-info-box33{
    width: 25.5rem;
    min-height: 1rem;
}

.user-info-box44{
    position: relative;
    box-sizing: border-box;
}

.css-7pg0cj-a11yText{
    z-index: 9999;
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    white-space: nowrap;
}

.choice-boxx{
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 52px
;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    outline: 0px !important;
}

.choice-box-result22{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    padding: 2px 8px;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.choice-box-result33{
    background-color: rgb(230, 230, 230);
    border-radius: 2px;
    display: flex;
    margin: 2px;
    min-width: 0px;
    box-sizing: border-box;
}

.choice-valuee{
    border-radius: 2px;
    color: rgb(51, 51, 51);
    font-size: 85%;
    overflow: hidden;
    padding: 3px 3px 3px 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.choice-value-cancell{
    -webkit-box-align: center;
    align-items: center;
    border-radius: 2px;
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

.all-svgg{
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0;
}

.css-1g6gooii{
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    visibility: visible;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
}

.css-1wy0on6{
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}

.css-tlfecz-indicatorContainerr{
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}

.css-1okebmr-indicatorSeparatorr{
    align-self: stretch;
    background-color: rgb(204, 204, 204);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
}

.user-info-box-nickName{
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: medium;
    width: 25.5rem;
    min-height: 1rem;
    padding: 1rem;
}

.user-info-box-introduce{
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: smaller;
    width: 408px;
    min-height: 1rem;
    padding: 1rem;
}

.user-info-box-email{
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: smaller;
    width: 408px;
    min-height: 1rem;
    padding: 1rem;
}

.info-1{
    margin-top: .875rem;
    color: #868e96;
    font-size: .875rem;
}

.button-css{
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    width: 100px;
    margin-right: 10px;
    height: 2rem;
    font-size: 1rem;
}

.button-fin{
    margin-top: 1.5rem;
    background-color: #262626;
}

.button-withdraw{
    background: #ff3217;
}

.open-selectt:hover{
    color: black;
}

.delete-all-selectt:hover{
    color: black;
}


.select-boxx{
    position: absolute;
    background: white;
    width: 408px;
    border: 1px solid;
    margin-top: 6px;
    max-height: 120px;
    overflow-y: scroll;
    border-radius: 5px;
    display: none;
}

.select-box22{
    list-style: none;
    margin: 0;
    margin-left: -40px;
}

.select-valuee{
    padding: 9px 0;
    padding-left: 18px;
}

.select-valuee:hover{
    background-color: powderblue;
}

.button-withdraw:hover{
    box-shadow: 0 0 8px rgb(0 0 0 / 18%);
}

.button-fin:hover{
    box-shadow: 0 0 8px rgb(0 0 0 / 18%);
}

.choice-box-value-removee:hover{
    cursor: pointer;
    color: gray;
}

.cate-all-listt{
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 98%;
    display: flex;
    flex-wrap: wrap;
}

.cateBlockk{
    display: none;
}



/*회원탈퇴 버튼*/

.delete-confirm-window{
    display: none;
}

.MTMzf{
    box-sizing: border-box;
    display: block;
    position: fixed;
    inset: 0px;
    z-index: 1000;
    overflow: auto;
    outline: 0px;
}


.cancelButton_wrapper__1bRq9{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 350px;
    height: 200px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 2rem 1.5rem;
    box-shadow: 0 2px 12px 0 rgb(0 0 0/20%);
    -webkit-animation: cancelButton_modalAnimation__2D2Vp .5s ease-in-out 0s 1 normal forwards running;
    animation: cancelButton_modalAnimation__2D2Vp .5s ease-in-out 0s 1 normal forwards running;
    top: 335px;
}

.cancelButton_buttons__2SCwD{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.cancelButton_cancelButton__1wL0W{
    background: #e9ecef;
    margin-right: 1rem;
}

.cancelButton_cancelButton__1wL0W, .cancelButton_registerButton__2q_So{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 1.25rem;
    height: 2rem;
    font-size: 1rem;
}

.cancelButton_registerButton__2q_So{
    font-weight: 700;
    background-color: #262626;
    color: #fff;
}





