@charset "UTF-8";
body {
    display: block;
    margin: 0;
    font-family: "Spoqa Han Sans Neo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    box-sizing: border-box;
    min-height: 100%;
}

#root{
    min-height: 100%;
}

.category-box{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 30px auto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li, p{
    margin: 0;
}

li{
    padding: 0;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.category-box2{
    display: flex;
    grid-gap: 50px;
    gap: 50px;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 20px;
    padding-left: 16px;
    margin-bottom: 30px;
}

.select-category{
    display: flex;
    font-weight: 700;
    font-size: 23px;
    line-height: 126.5%;
    color: #848484;
    cursor: pointer;
    position: relative;
}

.yellow-line{
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% + 26px);
    background: #ffe579;
    left: -13px;
    bottom: -22px;
}

.main-box{
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    display: none;
}

.main-box2 {
    display: flex;
}

.main-box3{
    display: flex;
    grid-gap: 35px;
    gap: 35px;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 3rem;
}

.yesyesyes{
    display: contents;
}

.study-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 26px 26px 34px;
    width: 370px;
    height: 450px;
    background: #fff;
    border: 2px solid #d1d1d1;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in;
}

.study-box:hover {
    transform: scale(1.02);
}

.study-box2{
    opacity: 1;
}

.study-schedule{
    display: flex;
    font-size: 18px;
    grid-gap: 10px;
    gap: 10px;
    color: rgba(0,0,0,.4);
}

.study-scheduleTitle{
    font-size: 18px;
}

.study-title{
    font-size: 24px;
    min-height: 76px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: -.04em;
    margin: 16px 0;
    display: -webkit-box;
    word-break: break-all;
    overflow: hidden;
}

.study-detail{
    display: flex;
    grid-gap: 5px;
    gap: 5px;
    font-size: 18px;
    color: rgba(0,0,0,.4);
    margin-bottom: 36px;
    min-height: 78px;
    padding: 0;
}


.study-void-box{
    margin-bottom: 4px;
    padding: 0;
    display: flex;
    grid-gap: 12px;
    gap: 12px;
    list-style: none;
}

.study-info{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    border-top: 2px solid #f2f2f2;
    padding-top: 16px;
}

.avatar-user{
    display: flex;
    align-items: center;
    position: relative;
}

.avatar-userImg{
    display: block;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-small{
    width: 36px;
    height: 36px;
}

.avatar-userName{
    font-size: 18px;
    font-weight: 400;
}

.study-viewsAndComment{
    display: flex;
    grid-gap: 12px;
    gap: 12px;
}

.study-infoItem{
    display: flex;
    align-items: center;
    color: #999;
    grid-gap: 6px;
    gap: 6px;
}

.page-title{
    margin-bottom: 85px;
    font-size: 35px;
}

.empty-study{
    font-size: 15px;
    margin: 50px;
}

.select-subject{
    color:#333;
}

.my-create-box{
    display: flex;
    margin-bottom: 10rem;
}

.myCreateChildren {
    display: flex;
    align-items: center;
    /*border-bottom: 3px solid #f2f2f2;*/
}

.myCreateChildren span{
    margin-right: 17px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:#ffe579;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.myCreateChildren p {
    font-size: 23px;
    font-weight: 700;
    color: #333;
}

div.empty-study {
    margin: 50px auto;
}

div.study-box2 {
    margin-right: 25px;
}

.study-box:hover{
    transform: scale(1.03);
    transition: transform 0.3s;
}