body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
}

* {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

input {
    width: 20rem;
    height: 2.5rem;
    outline: none;
    padding: 0 1rem;
    border: 3px solid #4482f7;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

div.main-container {
    max-width: 1040px;
    display: flex;
    flex-direction: column;
    padding: 60px 16px;
    width: 1024px;
    margin: 0 auto;
    color: #333;
    grid-gap: 50px;
    gap: 50px;
    position: relative;
}

div.study-info-title, div.study-chief-title, div.study-title {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-bottom: 36px;
    border-bottom: 3px solid #f2f2f2;
}

div.study-chief-title, div.study-title {
    margin-top: 36px;
}

div.study-info-title span, div.study-chief-title span, div.study-title span {
    margin-right: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffcd00;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #fff;
}

div.study-info-title h2, div.study-chief-title h2, div.study-title h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -.05em;
    margin: 0;
}

ul.study-info-list {
    margin-top: 40px;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    list-style: none;
}

li.study-info-item {
    flex: 1 1;
}

li.study-info-item label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

div.select select, div.input input {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    min-height: 56px;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    width: 100%;
    outline: 0px !important;
    padding: 0 1rem;
}

section.study-title-input label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

section.study-title-input input {
    width: 100%;
    height: 56px;
    min-height: 56px;
    line-height: 44px;
    box-shadow: none;
    padding-left: 16px;
    padding-right: 52px;
    border: 1px solid #e1e3e8;
    border-radius: 5px;
    color: #333;
}

section.study-chief-summernote input {
    width: 100%;
    height: 56px;
    min-height: 56px;
    line-height: 44px;
    box-shadow: none;
    padding-left: 16px;
    padding-right: 52px;
    border: 1px solid #e1e3e8;
    border-radius: 5px;
    color: #333;
}

section.study-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

section.study-button button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 1.25rem;
    width: 72px;
    height: 32px;
}

button.cancel {
    background: #e9ecef;
    color: #495057;
    margin-right: 1rem;
}

button.register {
    font-weight: 700;
    background-color: #262626;
    color: #fff;
}

div.note-editor {
    margin-top: 36px;
}

div.note-editable {
    height: 523px;
    min-height: 523px;
    max-height: 523px;
}