<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoYeoDream!</title>
    
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/myProfile.css">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="root">

        <!-- 헤더 추가 -->
        <!-- 헤더 시작 -->
        <header>
            <div class="headerWrap">
                <div class="headerLeft">
                    <div class="headerLogo">
                        <img src="/img/logo.png">
                    </div>
                </div>
                <div class="headerRight">
                    <div class="write">
                        <button class="writeBtn">새 글 쓰기</button>
                        <div class="writeHidden">
                            <div><p>스터디</p></div>
                            <div><p>채용 공고</p></div>
                            <div><p>자유 게시판</p></div>
                        </div>
                    </div>
                    <div class="qna">
                        <button class="qnaBtn">문의하기</button>
                    </div>
                    <div class="headerNoti">
                        <img src="/img/notification.svg">
                        <div class="notiHidden">
                            <div class="notiBoxTop">
                                <div>
                                    <p class="notiText">읽지 않은 알림 (</p><p class="notiNum">0</p><p>)</p>
                                </div>
                                <div class="notiXbtn">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" tabindex="1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
                                </div>
                            </div>
                            <div class="notiZero"><p>알림함이 비어있습니다.</p></div>
                        </div>
                    </div>
                    <div class="headerIcon">
                        <img src="/img/mainicon.png">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path></svg>
                        <div class="iconHidden">
                            <div><p>내 작성글</p></div>
                            <div><p>마이페이지</p></div>
                            <div><p>로그아웃</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 헤더 끝 -->


        <div class="main-box">
            <h1>내 정보 수정</h1>
            <div class="img-input">
                <img class="img-example" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" alt="user avatar">
                <div class="img-controller">
                    <label class="img-choose">
                        이미지 선택
                        <input id="imageUpload" type="file" accept="image/*">
                    </label>
                    <button class="img-delete">이미지 제거</button>
                </div>
            </div>
            <div class="user-info-box">
                <h3>닉네임</h3>
                <input class="user-info-box-nickName" type="text" name="nickNameInput" maxlength="9" value="강동원">
            </div>
            <p class="info-1">
                모여드림에서 사용되는 이름입니다. (9자 이내로 작성)
            </p>
            <hr>
            <div class="user-info-box user-info-box2">
                <h3>한 줄 소개</h3>
                <input class="user-info-box-introduce" type="text" name="nickNameInput" maxlength="30" value="한 줄 소개가 비어있습니다.">
            </div>
            <p class="info-1">
                나는 어떤 사람인가요? (30자 이내로 작성)
            </p>
            <hr>
            <div class="user-info-box user-info-box2">
                <h3>관심 분야 태그</h3>
                <div class="user-info-box3">
                    <div class="user-info-box4">

                        </span>
                        <div class="select-control choice-box">
                            <div class="choice-box-result choice-box-result--is-multi choice-box-result--has-value choice-box-result2">
                                <ul class="cate-all-list">

                                    <li class="cateBlock" value="culture">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                문화 • 예술
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="sports">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                스포츠 • 레저
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="programming">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                컴퓨터 • 프로그래밍
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="foreign">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                외국어 • 토익 • 토플
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="science">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                인문 • 과학
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="finance">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                경제 • 금융
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="politics">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                정치 • 사회
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="certificate">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                자격증
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="officiary">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                공무원
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cateBlock" value="employment">
                                        <div class="choice-box-result3 choice-box-value">
                                            <div class="choice-value choice-box-value-label">
                                                취업 • 면접
                                            </div>
                                            <div class="choice-value-cancel choice-box-value-remove">
                                                <svg height="14" width="14" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                                    <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                
                                <div class="css-1g6gooi">
                                    <div class="select__input" style="display: inline-block;">
                                        <input autocapitalize="none" autocomplete="off" autocorrect="off" id="react-select-4-input" spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" value="" style="box-sizing: content-box; width: 2px; background: 0px center; border: 0px; font-size: inherit; opacity: 1; outline: 0px; padding: 0px; color: inherit;">
                                        <div style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 16px; font-family: Arial; font-weight: 400; font-style: normal; letter-spacing: normal; text-transform: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="select__indicators css-1wy0on6">
                                <div class="select__indicator select__clear-indicator css-tlfecz-indicatorContainer delete-all-select" aria-hidden="true">
                                    <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                        <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z"></path>
                                    </svg>
                                </div>
                                <span class="select__indicator-separator css-1okebmr-indicatorSeparator"></span>
                                <div class="select__indicator select__dropdown-indicator css-tlfecz-indicatorContainer open-select" aria-hidden="true">
                                    <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="all-svg">
                                        <path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="select-box">
                            <ul class="select-box2">
                                <li class="select-value" value="culture" >문화 • 예술</li>
                                <li class="select-value" value="sports">스포츠 • 레저</li>
                                <li class="select-value" value="programming">컴퓨터 • 프로그래밍</li>
                                <li class="select-value" value="foreign">외국어 • 토익 • 토플</li>
                                <li class="select-value" value="science">인문 • 과학</li>
                                <li class="select-value" value="finance">경제 • 금융</li>
                                <li class="select-value" value="politics">정치 • 사회</li>
                                <li class="select-value" value="certificate">자격증</li>
                                <li class="select-value" value="officiary">공무원</li>
                                <li class="select-value" value="employment">취업 • 면접</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="info-1">관심 있는 기술 태그를 등록해주세요. (최대 5개까지)</p>
            <hr>
            <button class="button-fin button-css" name="complete">
                완료
            </button>
            <button class="button-withdraw button-css" name="signOut">
                회원탈퇴
            </button>
        </div>

        <!-- 푸터 추가 -->
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/header.js"></script>
<script src="/js/myProfile.js"></script>
</html>