<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.project.moyeodream.domain.vo.InquiryCommentVO" alias="inquiryCommentVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.StudyCommentVO" alias="studyCommentVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.StudyCommentDTO" alias="studyCommentDTO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.PostCommentVO" alias="postCommentVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.InquiryVO" alias="inquiryVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.InquiryDTO" alias="inquiryDTO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.JobpostingVO" alias="jobpostingVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.JobpostingDTO" alias="jobpostingDTO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.PostVO" alias="postVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.PostDTO" alias="postDTO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.StudyVO" alias="studyVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.StudyDTO" alias="studyDTO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.AdminVO" alias="adminVO"/>
        <typeAlias type="com.project.moyeodream.domain.vo.FileVO" alias="fileVO"/>
    </typeAliases>
</configuration>