<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티</title>
    <link rel="stylesheet" href="/css/boardEdit.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link
      href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="root">
      <header>
        <div class="headerWrap">
          <div class="headerLeft">
            <div class="headerLogo">
              <img src="/img/logo.png" />
            </div>
          </div>
          <div class="headerRight">
            <div class="write">
              <button class="writeBtn">새 글 쓰기</button>
              <div class="writeHidden">
                <div><p>스터디</p></div>
                <div><p>채용 공고</p></div>
                <div><p>자유 게시판</p></div>
              </div>
            </div>
            <div class="qna">
              <button class="qnaBtn">문의하기</button>
            </div>
            <div class="headerNoti">
              <img src="/img/notification.svg" />
              <div class="notiHidden">
                <div class="notiBoxTop">
                  <div>
                    <p class="notiText">읽지 않은 알림 (</p>
                    <p class="notiNum">0</p>
                    <p>)</p>
                  </div>
                  <div class="notiXbtn">
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 24 24"
                      tabindex="1"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="notiZero"><p>알림함이 비어있습니다.</p></div>
              </div>
            </div>
            <div class="headerIcon">
              <img src="/img/mainicon.png" />
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M7 10l5 5 5-5z"></path>
              </svg>
              <div class="iconHidden">
                <div><p>내 작성글</p></div>
                <div><p>마이페이지</p></div>
                <div><p>로그아웃</p></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="board_Post">
        <section>
          <div class="boardPost_ContentWrapper">
            <span class="post_Circle"></span>
            <h2 class="boardPost_text">글을 수정해주세요.</h2>
          </div>
        </section>
        <section>
          <label for="input" class="input_labelText">제목</label>
          <input
            type="text"
            class="input_box"
            id="input"
            placeholder="글 제목"
            value="오류가 났는데 해결이 안됩니다."
          />
          <div class="postText_box">
            <textarea
              class="comment-input"
              placeholder="욕설/비방/비하 게시물은 삭제처리 될 수 있습니다."
            >
프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서 찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도 해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이 되지 않네요 혹시 아시는 분 있을까요?</textarea
            >
          </div>
        </section>
        <section class="register_button">
          <button class="write_register">수정하기</button>
          <button class="write_cancel">취소하기</button>
        </section>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/header.js"></script>
</html>
