<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MoYeoDream!</title>
  <link
    href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="stylesheet" href="/css/board.css" />
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
  <header th:replace="~{/fragments/header::header}"></header>
  <!-- 헤더 부분 ↑ -->

  <section class="category-box" style="border-bottom: 2px solid #d1d1d1">
    <h2 class="page-title">자유 게시판</h2>
  </section>

  <div class="main-container">
    <nav class="board-nav">
      <ul class="board-aside">
        <li class="board-aside_menu menu-select">
          <a href="#"><span>전체</span></a>
        </li>
        <li class="board-aside_menu">
          <a href="#"><span>자유주제</span></a>
        </li>
        <li class="board-aside_menu">
          <a href="#"><span>질문&답변</span></a>
        </li>
        <li class="board-aside_menu">
          <a href="#"><span>스터디 후기</span></a>
        </li>
        <li class="board-aside_menu">
          <a href="#"><span>기업면접 후기</span></a>
        </li>
      </ul>
    </nav>
    <section class="board-list-container">
      <ul class="board-list">
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="board-container">
          <a href="./boardDetail.html">
            <div class="board">
              <div class="board_info">
                <div class="board-title">
                  <h3 class="title_text">오류가 났는데 해결이 안됩니다.</h3>
                </div>
                <p class="board_body">
                  프로젝트를 진행하던 중에 오류가 났습니다. 구글링해서
                  찾아봤는데도 답이 안나오네요 도와주세요 이것저것 건들여도
                  해결이 안됩니다. 유튜브에 영상있길래 따라 해봤는데 해결이
                  되지 않네요 혹시 아시는 분 있을까요?
                </p>
                <div class="board_info-footer">
                  <span>박해연</span>
                  <span>&nbsp;&nbsp;</span>
                  <span>2022.06.15</span>
                </div>
              </div>
              <div class="board_addInfo">
                <div class="board_comment">
                  <span class="comment_count">3</span>
                  <span class="comment_description">댓글</span>
                </div>
                <div class="board-infoItem">
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 1024 1024"
                    color="#999999"
                    height="28"
                    width="28"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(153, 153, 153)"
                  >
                    <path
                      d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z"
                    ></path>
                  </svg>
                  <p>1004</p>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <nav
        class="pagination is-centered is-small"
        role="navagation"
        aria-label="pagination"
      >
        <ul class="pagination-list">
          <li>
            <a class="pagination-prev" href="" aria-label="이전 페이지로 이동"
              ><<</a
            >
          </li>
          <li>
            <a
              class="pagination-link is-current"
              href=""
              aria-label="1 페이지로 이동"
              >1</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="2 페이지로 이동"
              >2</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="3 페이지로 이동"
              >3</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="4 페이지로 이동"
              >4</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="5 페이지로 이동"
              >5</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="6 페이지로 이동"
              >6</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="7 페이지로 이동"
              >7</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="8 페이지로 이동"
              >8</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="9 페이지로 이동"
              >9</a
            >
          </li>
          <li>
            <a class="pagination-link" href="" aria-label="10 페이지로 이동"
              >10</a
            >
          </li>
          <li>
            <a class="pagination-next" href="" aria-label="다음 페이지로 이동"
              >>></a
            >
          </li>
        </ul>
      </nav>
    </section>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="/js/header.js"></script>
<script src="/js/login.js"></script>
<script src="/js/board.js"></script>
<script th:inline="javascript">
  let postNumber = [[${postNumber}]];
  alert(postNumber + "번 게시글이 등록되었습니다.");

</script>
</html>
