<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.moyeodream.mapper.PostMapper">

    <!-- 게시글 등록 완료 -->
    <insert id="insert">
        <selectKey keyProperty="postNumber" order="BEFORE" resultType="integer">
            SELECT SEQ_POST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_POST
        (POST_NUMBER, POST_CATEGORY, POST_TITLE, POST_CONTENT, POST_MEMBER_NUMBER)
        VALUES(#{postNumber}, #{postCategory}, #{postTitle}, #{postContent}, '1')
    </insert>

    <!-- 게시글 전체 목록 -->
    <select id="getList" resultType="postDTO">
        SELECT RN, POST_NUMBER, POST_CATEGORY, POST_TITLE, POST_CONTENT, POST_VIEWS, MEMBER_NICKNAME, POST_UPDATE_DATE
        FROM
        (
            SELECT /*+ INDEX_DESC(TBL_POST PK_POST) */
            ROWNUM RN, POST_NUMBER, POST_CATEGORY, POST_TITLE, POST_CONTENT, POST_VIEWS, tm.MEMBER_NICKNAME, POST_UPDATE_DATE
            FROM TBL_POST tp JOIN TBL_MEMBER tm
            ON tp.POST_MEMBER_NUMBER = tm.MEMBER_NUMBER
        <![CDATA[
            WHERE ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE RN > ((#{pageNum} -1) * #{amount})
        ]]>
    </select>

    <!-- 게시글 전체 개수 -->
    <select id="getTotal" resultType="_int">
        SELECT COUNT(POST_NUMBER) FROM TBL_POST
    </select>

    <!-- 게시글 조회 -->
    <select id="read" resultType="postDTO">
        SELECT POST_NUMBER, POST_CATEGORY, POST_TITLE, POST_CONTENT, POST_VIEWS, tm.MEMBER_NICKNAME, POST_REGISTER_DATE, POST_UPDATE_DATE
        FROM TBL_POST tp JOIN TBL_MEMBER tm
        ON tp.POST_MEMBER_NUMBER = tm.MEMBER_NUMBER
        WHERE POST_NUMBER = #{postNumber}
    </select>

    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE TBL_POST
        SET POST_TITLE = #{postTitle}, POST_CONTENT = #{postContent}
        WHERE POST_NUMBER = #{postNumber}
    </update>
</mapper>