<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.moyeodream.mapper.PostMapper">

    <!-- 검색필터 -->
    <sql id="search">
        <if test=" type != null and keyword != null ">
            <trim prefixOverrides="OR" suffix="AND">
                <choose>
                    <when test="type == 'C'.toString() ">
                        OR (POST_CATEGORY LIKE '%'||#{keyword}||'%')
                    </when>
                    <when test="type == 'T'.toString()">
                        OR (POST_TITLE LIKE '%'||#{keyword}||'%')
                    </when>
                    <when test="type == 'W'.toString()">
                        OR (tm.MEMBER_NICKNAME LIKE '%'||#{keyword}||'%')
                    </when>
                    <when test="type == 'P'.toString()">
                        (OR POST_UPDATE_DATE BETWEEN TO_DATE('20220622') AND TO_DATE('20220624')
                    </when>
                    <when test="type == 'B'.toString()">
                        OR ( POST_CONTENT LIKE '%'||#{keyword}||'%')
                    </when>
                    <when test="type == 'R'.toString()">
                        OR ( LIKE '%'||#{keyword}||'%')
                    </when>
                </choose>
            </trim>
        </if>
    </sql>

    <!-- 게시글 등록 완료 -->
    <insert id="insert">
        <selectKey keyProperty="postNumber" order="BEFORE" resultType="integer">
            SELECT SEQ_POST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_POST
        (POST_NUMBER, POST_CATEGORY, POST_TITLE, POST_CONTENT, POST_MEMBER_NUMBER)
        VALUES(#{postNumber}, #{postCategory}, #{postTitle}, #{postContent}, '21')
    </insert>

    <!-- 게시글 목록 불러오기 -->
    <select id="getList" resultType="postDTO">
        SELECT RN, POST_NUMBER, POST_CATEGORY, POST_TITLE, POST_CONTENT, POST_VIEWS, MEMBER_NICKNAME, POST_UPDATE_DATE
        FROM
        (
            SELECT /*+ INDEX_DESC(TBL_POST PK_POST) */
            ROWNUM RN, POST_NUMBER, POST_CATEGORY, POST_TITLE, POST_CONTENT, POST_VIEWS, tm.MEMBER_NICKNAME, POST_UPDATE_DATE
            FROM TBL_POST tp JOIN TBL_MEMBER tm
            ON tp.POST_MEMBER_NUMBER = tm.MEMBER_NUMBER
            WHERE
            <include refid="search"/>
        <![CDATA[
            ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE RN > ((#{pageNum} -1) * #{amount})
        ]]>
    </select>

    <!-- 게시글 전체 개수 -->
    <select id="getTotal" resultType="_int">
        SELECT COUNT(POST_NUMBER) FROM TBL_POST
        <where>
            <trim suffixOverrides="AND">
                <include refid="search"/>
            </trim>
        </where>
    </select>

    <!-- 게시글 조회수 올리기 -->
    <update id="viewUp">
        UPDATE TBL_POST
        SET POST_VIEWS =
            (SELECT POST_VIEWS + 1 FROM TBL_POST
            WHERE POST_NUMBER = #{postNumber} )
        WHERE POST_NUMBER = #{postNumber}
    </update>

    <!-- 게시글 조회 -->
    <select id="read" resultType="postDTO">
        SELECT POST_NUMBER, POST_CATEGORY, POST_TITLE, POST_CONTENT, POST_VIEWS, tm.MEMBER_NICKNAME, POST_REGISTER_DATE, POST_UPDATE_DATE
        FROM TBL_POST tp JOIN TBL_MEMBER tm
        ON tp.POST_MEMBER_NUMBER = tm.MEMBER_NUMBER
        WHERE POST_NUMBER = #{postNumber}
    </select>

    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE TBL_POST
        SET POST_TITLE = #{postTitle}, POST_CONTENT = #{postContent}
        WHERE POST_NUMBER = #{postNumber}
    </update>

    <!-- 게시글 삭제 -->
    <delete id ="delete">
        DELETE FROM TBL_POST
        WHERE POST_NUMBER = #{postNumber}
    </delete>
</mapper>