<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.moyeodream.mapper.StudyCommentMapper">
    <insert id="insert">
        <selectKey keyProperty="studyCommentNumber" order="BEFORE" resultType="_int">
            SELECT SEQ_STUDY_COMMENT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_STUDY_COMMENT(STUDY_COMMENT_NUMBER, STUDY_COMMENT_CONTENT, STUDY_COMMENT_MEMBER_NUMBER, STUDY_COMMENT_STUDY_NUMBER)
        VALUES(#{studyCommentNumber}, #{studyCommentContent}, #{studyCommentMemberNumber}, #{studyCommentStudyNumber})
    </insert>

    <select id="getList" resultType="studyCommentDTO">
        SELECT /*+ INDEX_ASC(TBL_STUDY_COMMENT PK_STUDY_COMMENT) */
        STUDY_COMMENT_NUMBER, STUDY_COMMENT_REGISTER_DATE, STUDY_COMMENT_CONTENT, STUDY_COMMENT_MEMBER_NUMBER, STUDY_COMMENT_STUDY_NUMBER FROM TBL_STUDY_COMMENT
        WHERE STUDY_COMMENT_STUDY_NUMBER = #{studyCommentStudyNumber}
    </select>

    <select id="selectMemberInfo" resultType="memberVO">
        SELECT MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_INTERESTS, MEMBER_PROFILE FROM TBL_MEMBER
        WHERE MEMBER_NUMBER = #{studyCommentMemberNumber}
    </select>

    <update id="update">
        UPDATE TBL_STUDY_COMMENT
        SET STUDY_COMMENT_CONTENT = #{studyCommentContent}
        WHERE STUDY_COMMENT_NUMBER = #{studyCommentNumber}
    </update>

    <delete id="delete">
        DELETE FROM TBL_STUDY_COMMENT
        WHERE STUDY_COMMENT_NUMBER = #{studyCommentNumber}
    </delete>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(STUDY_COMMENT_NUMBER) FROM TBL_STUDY_COMMENT
        WHERE STUDY_COMMENT_STUDY_NUMBER = #{studyCommentStudyNumber}
    </select>
</mapper>