<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoYeoDream!</title>
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/studyView.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <header th:replace="~{/fragments/header::header}"></header>
    <!-- 헤더 부분 ↑ -->
    <div class="main-container">
        <section class="top" th:object="${study}">
            <div class="back">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="808080" cursor="pointer" height="30" width="30" xmlns="http://www.w3.org/2000/svg" style="color: rgb(128, 128, 128);">
                    <path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path>
                </svg>
            </div>
            <div class="study-title" th:text="*{studyTitle}"></div>
            <div class="study-user">
                <div class="user-profile">
                    <img src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG">
                    <div class="user-nickname" th:text="*{memberNickname}"></div>
                </div>
                <div class="study-registered-date"></div>
            </div>
            <section class="change-buttons">
                <button class="change-button">수정</button>
                <button class="change-button">삭제</button>
            </section>
            <div class="recommend-wrap">
                <div class="recommend-post">
                    <div class="recommend-for">
                        <div class="line"></div>
                        <div class="recommend-who">
                            <span class="visitant">방문자</span>님이<br>좋아하실 글을 모아봤어요!
                        </div>
                    </div>
                    <ul class="recommend-post">
                        <li class="recommend">
                            <div class="recommend-index">1.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">2.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">3.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">4.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">5.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">6.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">7.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">8.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">9.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                        <li class="recommend">
                            <div class="recommend-index">10.</div>
                            <div class="recommend-title">카페24의 스토어 플랫폼을 활용한 사이드 프로젝트(서울 관악)</div>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="study-info-wrap">
                <li class="study-info">
                    <span class="study-info-title">카테고리</span>
                    <span class="study-info-content study-cate"></span>
                </li>
                <li class="study-info">
                    <span class="study-info-title">진행 방식</span>
                    <span class="study-info-content study-process"></span>
                </li>
                <li class="study-info">
                    <span class="study-info-title">모집 인원</span>
                    <span class="study-info-content study-people"></span>
                </li>
                <li class="study-info">
                    <span class="study-info-title">시작 예정</span>
                    <span class="study-info-content study-start"></span>
                </li>
                <li class="study-info">
                    <span class="study-info-title">연락 방법</span>
                    <div class="study-info-content">
                        <a class="kakao-openchatting">
                            <span>카카오톡 오픈채팅</span>
                            <img src="https://holaworld.io/images/info/link.svg">
                        </a>
                    </div>
                </li>
                <li class="study-info">
                    <span class="study-info-title">예상 기간</span>
                    <span class="study-info-content study-period"></span>
                </li>
            </ul>
        </section>
        <section class="middle">
            <h2 class="user-introduction">스터디장 소개</h2>
            <div class="user-introduction"></div>
            <div class="study-introduction-wrap">
                <h2 class="study-introduction">스터디 소개</h2>
                <div class="study-introduction"></div>
            </div>
        </section>
        <section class="study-comment-wrap">
            <div class="study-comment">
                <div class="comment-input-wrap">
                    <h1>0개의 댓글이 있습니다.</h1>
                    <textarea class="comment-input" placeholder="댓글을 입력하세요."></textarea>
                    <div class="comment-button">
                        <button class="comment-input-button" name="register">댓글 등록</button>
                    </div>
                </div>
                <ul class="comment-list">
                    <li class="comment">
                        <section class="comment-info-wrap">
                            <div class="comment-info">
                                <img src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG">
                                <div class="comment-title-wrap">
                                    <div class="comment-title">
                                        <div class="comment-user">berber</div>
                                        <div class="comment-registered-date">2021-08-16 09:38:49</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="comment-content-wrap">
                            <p class="comment-content">안녕하세요. 저도 참여하고싶습니다!</p>
                        </section>
                    </li>
                    <li class="comment">
                        <section class="comment-info-wrap">
                            <div class="comment-info">
                                <img src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG">
                                <div class="comment-title-wrap">
                                    <div class="comment-title">
                                        <div class="comment-user">자기계발</div>
                                        <div class="comment-registered-date">2021-08-17 00:17:47</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="comment-content-wrap">
                            <p class="comment-content">마감되지 않았다면 저도 함께하고 싶습니다!</p>
                        </section>
                    </li>
                    <li class="comment">
                        <section class="comment-info-wrap">
                            <div class="comment-info">
                                <img src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG">
                                <div class="comment-title-wrap">
                                    <div class="comment-title">
                                        <div class="comment-user">알락꼬리고양이</div>
                                        <div class="comment-registered-date">2021-08-23 13:14:16</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="comment-content-wrap">
                            <p class="comment-content">안녕하세요 마감되었나요? ^ㅡ^ㅡ^ㅡ^!</p>
                        </section>
                    </li>
                    <li class="comment">
                        <section class="comment-info-wrap">
                            <div class="comment-info">
                                <img src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG">
                                <div class="comment-title-wrap">
                                    <div class="comment-title">
                                        <div class="comment-user">민</div>
                                        <div class="comment-registered-date">2022-06-14 16:09:51</div>
                                    </div>
                                </div>
                            </div>
                            <section class="comment-button-wrap">
                                <button class="comment-button">수정</button>
                                <button class="comment-button">삭제</button>
                            </section>
                        </section>
                        <section class="comment-content-wrap">
                            <p class="comment-content">안녕하세요</p>
                            <!--  댓글 수정 부분 css에 display: none 되어있습니다 -->
                            <div class="comment-revise">
                                <input type="text" value="안녕하세요" placeholder="안녕하세요" name="commentRevise">
                                <div class="comment-revise-buttons">
                                    <button class="comment-revise-button cancel">취소</button>
                                    <button class="comment-revise-button register">완료</button>
                                </div>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="/js/header.js"></script>
<script src="/js/login.js"></script>
<script th:inline="javascript">
    let studyCategory = [[${study.studyCategory}]];
    let studyProcess = [[${study.studyProcess}]];
    let studyPersonnel = [[${study.studyPersonnel}]];
    let studyPeriod = [[${study.studyPeriod}]];
    let studyCommunication = [[${study.studyCommunication}]];

    let studyChief = [[${study.studyChief}]];
    let studyContent = [[${study.studyContent}]];
    let studyRegisterDate = [[${study.studyRegisterDate}]];
    let studyStart = [[${study.studyStart}]];

    $(document).ready(function() {
        $("div.study-registered-date").text(dateFormat(studyRegisterDate));
        $("span.study-start").text(dateFormat(studyStart));

        $("div.user-introduction").append(studyChief);
        $("div.study-introduction").append(studyContent);

        if(studyCategory == "culture") {
            $("span.study-cate").text("문화/예술");
        }
        else if(studyCategory == "sports") {
            $("span.study-cate").text("스포츠/레저");
        }
        else if(studyCategory == "computer") {
            $("span.study-cate").text("컴퓨터/프로그래밍");
        }
        else if(studyCategory == "language") {
            $("span.study-cate").text("외국어/토익/토플");
        }
        else if(studyCategory == "humanities") {
            $("span.study-cate").text("인문/과학");
        }
        else if(studyCategory == "economy") {
            $("span.study-cate").text("경제/금융");
        }
        else if(studyCategory == "politics") {
            $("span.study-cate").text("정치/사회");
        }
        else if(studyCategory == "certificate") {
            $("span.study-cate").text("자격증");
        }
        else if(studyCategory == "publicOfficial") {
            $("span.study-cate").text("공무원");
        }
        else if(studyCategory == "employment") {
            $("span.study-cate").text("취업/면접");
        }

        if(studyProcess == "online") {
            $("span.study-process").text("온라인");
        }
        else if(studyProcess == "offline") {
            $("span.study-process").text("오프라인");
        }

        if(studyPersonnel == "none") {
            $("span.study-people").text("인원 미정");
        }
        else if(studyPersonnel == "one") {
            $("span.study-people").text("1명");
        }
        else if(studyPersonnel == "two") {
            $("span.study-people").text("2명");
        }
        else if(studyPersonnel == "three") {
            $("span.study-people").text("3명");
        }
        else if(studyPersonnel == "four") {
            $("span.study-people").text("4명");
        }
        else if(studyPersonnel == "five") {
            $("span.study-people").text("5명");
        }
        else if(studyPersonnel == "six") {
            $("span.study-people").text("6명");
        }
        else if(studyPersonnel == "seven") {
            $("span.study-people").text("7명");
        }
        else if(studyPersonnel == "eight") {
            $("span.study-people").text("8명");
        }
        else if(studyPersonnel == "nine") {
            $("span.study-people").text("9명");
        }
        else if(studyPersonnel == "tenUp") {
            $("span.study-people").text("10명 이상");
        }

        if(studyPeriod == "none") {
            $("span.study-period").text("기간 미정");
        }
        else if(studyPeriod == "oneMonth") {
            $("span.study-period").text("1개월");
        }
        else if(studyPeriod == "twoMonths") {
            $("span.study-period").text("2개월");
        }
        else if(studyPeriod == "threeMonths") {
            $("span.study-period").text("3개월");
        }
        else if(studyPeriod == "fourMonths") {
            $("span.study-period").text("4개월");
        }
        else if(studyPeriod == "fiveMonths") {
            $("span.study-period").text("5개월");
        }
        else if(studyPeriod == "sixMonths") {
            $("span.study-period").text("6개월");
        }
        else if(studyPeriod == "longTerm") {
            $("span.study-period").text("장기");
        }
    });

    $("a.kakao-openchatting").click(function() {
        location.href = studyCommunication;
    });

    function dateFormat(format) {
        let date = new Date(format);
        return date.getFullYear() + "-" + ((date.getMonth() + 1) > 9 ? (date.getMonth() + 1).toString() : "0" + (date.getMonth() + 1)) + "-" + (date.getDate() > 9 ? date.getDate().toString() : "0" + date.getDate().toString());
    }
</script>
</html>